```html
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>API داده‌های هواشناسی</title>
</head>
<body>
<h1>API داده‌های هواشناسی</h1>
<p>فرمت آدرس: http://127.0.0.1:5001/api/v1/ایستگاه/تاریخ</p>
<p>برای دریافت دمای یک ایستگاه در یک تاریخ خاص: http://127.0.0.1:5001/api/v1/10/1988-10-25</p>
<p>برای دریافت تمام داده‌های یک ایستگاه: http://127.0.0.1:5001/api/v1/10</p>
<p>برای دریافت داده‌های یک ایستگاه در یک سال خاص: http://127.0.0.1:5001/api/v1/yearly/10/1988</p>
<p>{{Data|safe}}</p>
</body>
</html>
```